:root {
  /* === Text & Border Colors === */
  --primary-text: #58e1c1;
  --secondary-text: #777;
  --link-blue: #51ddfc;
  --blockquote-border: #58e1c1;
  --neutral-gray: #ccc;

  /* === Theme Background Colors === */
  --theme-purple: #927bc1;
  --theme-orange: #fd7856;
  --theme-lavender: #deb2ee;
  --theme-sky: #7ee6fd;
  --theme-mint: #88d9a0;
  --theme-sea: #4da2bb;
  --theme-rose: #ec9fa3;
  --theme-coral: #fd9f85;
  --theme-red: #e4757a;
  --theme-green: #63cc82;
  --theme-lightblue: #51ddfc;
  --theme-aqua: #80e8d1;

  /* === Button Background Colors === */
  --btn-default: #51ddfc;
  --btn-error: #e4757a;
  --btn-info: #927bc1;
  --btn-success: #63cc82;
  --btn-warning: #fd7856;

  /* === Text Color Defaults === */
  --white: #fff;
   

  //width
  --mid-width : 768px;
  --max-width:  1400px;


}

